.post-container {
  .post {
    border: 1px solid $color-2;
    padding: 25px;
    position: relative;
    margin: 0px 0 20px;
    padding-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 4px rgba(165, 15, 15, 0.3);

    .edit-delete {
      position: absolute;
      right: 20px;

      img {
        height: 20px;
        width: 20px;
        margin: 0 4px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
    .post-img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      display: block;
      margin: 20px auto;
      border-radius: inherit;
    }
    form {
      border-radius: 5px;
      textarea {
        width: 100%;
        height: 50px;
        resize: none;
        border: $color-4 solid 1px;
        padding: 10px;
        border-radius: inherit;
        background-color: rgba(124, 148, 170, 0.466);
      }
      input[type="submit"] {
        padding: 10px 5px;
        width: 180px;
        border: none;
        margin: -3px 0 0 auto;
        display: block;
        margin: auto;
        border-radius: inherit;
      }
    }
    .author {
      position: absolute;
      right: 28px;
      bottom: 10px;
      display: flex;

      h5 {
        margin-right: 10px;
        transform: translateY(3px);
      }
      div {
        display: flex;
      }

      .clap {
        height: 25px;
        width: 25px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}
